ble:                                                                     # Parametri BLE    
  name_prefix: "ESP32-RGB-BLE"                                           # or use "addr" to connect directly to an address
  addr: null                                                             # e.g. "44:1D:64:F4:AC:D2" on Linux/Mac, GUID on Windows
  scan_timeout: 3.0                                                      # Seconds
  message_at_computation_start: "COMPUTATION START"
  message_at_computation_end: "COMPUTATION END"
  message_at_grab_start: "START"
  message_at_grab_end: "END"
  nus_tx_uuid: "6E400003-B5A3-F393-E0A9-E50E24DCCA9E"
  nus_rx_uuid: "6E400002-B5A3-F393-E0A9-E50E24DCCA9E"

capture:                                                                 # Parametri di Acquisizione
  frequency_ms: 100                                                      # Frequenza di Acquisizione del sistema (se impostata a livello di camera il parametro non fa nulla)
  output_root: "../captures"                                             # Can also be in OneDrive; keeping it local is faster
  save_frames: true                                                      # When true, persist frames with pose overlays if available
  frame_queue_size: 4                                                    # Max number of frames waiting in the in-memory stream
  simulate_camera: false                                                 # True = test mode (uses images from a folder)
  camera_type: "pylon"                                                   # "opencv" for webcam or "pylon" for basler.
  camera_id: 0                                                           # Webcam id (0 usually works)
  camera_serial: 23324651                                                # Serial number for industrial cameras (pylon)
  camera_ip: 192.168.1.165                                               # URL/IP for network cameras
  test_source_dir: "../image_to_be_used"                                 # Used if simulate_camera=true

pose:
  enabled: true                                                          # Abilitazione della stima della posa
  method: "ico"                                                          # Solo "ico" supportato per ora
  max_parallel_jobs: 5                                                   # 3 is fine (CPU permitting)
  save_overlay: true                                                     # Save diagnostic overlays next to raw frames using *_overlay suffix
  camera_calibration_npz: "../calibration/calib_data.npz"                # Deve contenere 'camera_matrix' and 'dist_coeffs'
  extrinsic_calibration:                                                 # Trasformazione: BASE ROBOT -> CAMERA. Convenzione Rotazione: Eulero Z-Y-Z (Phi, Theta, Psi)
    trans_x_mm : 871.432
    trans_y_mm : -61.7029
    trans_z_mm : 760.249
    rot_phi_deg : 149.045                                                # 1° Rotazione attorno a Z
    rot_theta_deg : 150.698                                              # 2° Rotazione attorno a Y
    rot_psi_deg : -90.0639                                               # 3° Rotazione attorno a Z
  ico:                                                                   # Regole che valgono per opzione "ico" --> icosaedro troncato 31 marrker su 32 facce
    dictionary: "4X4_50"                                                 # Dizionario di riferimento per i marker
    marker_size_mm: 21.33                                                # Dimensione dei marker
    transform_file: ../calibration/transforms.json                       # Necessario per il calcolo del centro  sfera da marker
    geo_radius: 0.061035                                                 # Raggio sfera (metri) per overlay. Calcolato da .cad
    z_shift_tip: 0.20620                                                 # Distanza Centro Sfera -> Punta (metri). Variabile in base a oggetto punta. Calcolato da .cad
  marker_filter_average:                                                 # Filtraggio dei marker e regole per pesatura
    min_area: 100.0                                                      # Area minima in pixel
    weight_exponent: 1.5                                                 # Esponente per pesatura area
    outliers_threshold: 0.030                                            # Distanza massima dalla media prima di essere considerato outliers 
  subpixel_config:                                                       # SubPixel rules sulla libreria opencv
    subpixel_iter: 500                                                   # Iterazioni subpixel
    subpixel_eps: 0.0001                                                 # Epsilon subpixel

runtime:                                                                 # Regole a runtime
  debug: true                                                            # Extra Debug behavior
  log_level: DEBUG                                                       # DEBUG, INFO, WARNING, ERROR
  log_to_file: true                                                      # Write global app.log in addition to console

plot:                                                                    # Regole per plotting
  default_pose_json: "../captures/session_2026-02-03_17-53-40_pose.json" # Jsonl utilizzato per il plotting

build_icosahedron:
  edge_length: 0.025                                                     # Lunghezza del lato di ogni poligono (pentagono o esagono) espressa in metri.
  size_ratio: 0.85                                                       # Rapporto tra la dimensione del marker ArUco e la dimensione della faccia che lo ospita.
  lift_dist: 0.0025                                                      # Offset di 2 mm verso l'esterno lungo l'asse Z della faccia
  manual_offsets:                                                        # OFFSET MANUALI (Gradi Antiorari)
    H11: 120
    H12: -60
    H18: -30
    H16: -60
    H10: -150
    P5: -54
    H13: 90
    P11: 234
    H14: 120
    H19: 60
    H1: 180
    H7: -60
    P7: -54
    H9: -120
    P3: -54
    H17: 180
    P10: -126
    H8: -60
    P1: -18
    P2: 180
    H4: -90
    P8: -180
    H6: -150
    H5: 120
    H15: -120
    P4: 90
    H0: 90
    H3: 120
    H2: 210
    P0: 180

marker_map:                                                              # Mapping marker to id aruco - H: esagono P: pentagono
  1: "H5"
  2: "H2"
  3: "P0"
  4: "H3"
  5: "H0"
  6: "H6"
  7: "P2"
  8: "P8"
  9: "H4"
  10: "H8" 
  11: "P1"
  12: "H9"
  13: "P7"
  14: "P6"
  15: "H15" 
  16: "P4"
  17: "H1"
  18: "H7"
  19: "H14"
  20: "H17"
  21: "H19"
  22: "P3"
  23: "H13" 
  24: "P11"
  25: "P5"
  26: "P10"
  27: "H10"
  28: "H16" 
  29: "H11"
  30: "H18"
  31: "H12"