ble:
  name_prefix: "ESP32-RGB-BLE"     # or use "addr" to connect directly to an address
  addr: null                       # e.g. "44:1D:64:F4:AC:D2" on Linux/Mac, GUID on Windows
  scan_timeout: 3.0                # seconds

capture:
  frequency_ms: 100
  output_root: "../captures"       # can also be in OneDrive; keeping it local is faster
  save_frames: true                # when true, persist frames with pose overlays if available
  frame_queue_size: 4             # max number of frames waiting in the in-memory stream
  simulate_camera: true           # true = test mode (uses images from a folder)
  camera_type: "opencv"            # "opencv" for webcam or "pylon" for basler.
  camera_id: 0                     # webcam id (0 usually works)
  camera_serial: 23324651          # serial number for industrial cameras
  camera_ip: 192.168.1.165         # URL/IP for network cameras
  test_source_dir: "../image_to_be_used"   # used if simulate_camera=true

pose:
  enabled: true
  method: "ico"                   # "ico" | "custom"
  max_parallel_jobs: 5             # 3 is fine (CPU permitting)
  save_overlay: true               # save diagnostic overlays next to raw frames using *_overlay suffix
  ico:
    dictionary: "4X4_50"
    marker_size_mm: 21.679
    transform_file: ../calibration/transforms.json          # leave null to use built-in transforms
  camera_calibration_npz: "../calibration/calib_data.npz"  # must contain 'camera_matrix' and 'dist_coeffs'

  # NUOVO PARAMETRO: File contenente la matrice 4x4 T_base_camera
  extrinsic_matrix_json: "../calibration/robot_camera_extrinsics.json"

runtime:
  debug: true                      # extra debug behavior
  log_level: INFO                 # DEBUG, INFO, WARNING, ERROR
  log_to_file: true               # write global app.log in addition to console

plot:
  default_pose_json: "../captures/session_2025-12-14_22-31-09_pose.json"